

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Raleway:ital@0;1&display=swap');

body{
    background-color: antiquewhite;

}

*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'ubuntu', sans-serif;
}
 nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    height: 89px;
    background-color: black;
    color: white;
 }
nav ul li{
   padding: 0 12px ;
 }
 .brand img{
     width: 44px;
 }
 .brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    margin: 1.5rem;
 }
.brand img{
        padding:0 10px;
    }

nav ul li:hover{
    background-color: #1db925;
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
}

.container{
    min-height: 130vh;
}

.bottom{
    display: flex;
    position: sticky;
    height: 130px;
    background-color: black;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

#myProgressBar{
    width: 80vw;
}